:host {
  padding: 1rem;
  display: block;
}

.embed-container {
  border: 2px var(--tui-support-02) dashed;
  padding: 0 1rem 1rem;

  margin-bottom: 1rem;
}

.embedded {
  border: 2px var(--tui-support-05) dashed;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
